<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Bootstrap Snippet: Login Form</title>
  <link rel='stylesheet' href='bootstrap.min3.3.5.css'><link rel="stylesheet" href="./style.css">
<style type="text/css">
    @font-face {
      font-family: Poppins;
      src: url(Poppins.ttf);
    }

        body{
            font-family: Poppins;
        }

        .center{
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    .center1{
            margin: auto;
            width: 100%;
            padding: 10px;
        }

    </style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading" style="text-align: center;"><strong>MTU CHAPEL</strong></h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
      <br>
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>   <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      <br>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
  </div>
<!-- partial -->
  
</body>
</html>
