<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Bootstrap Snippet: Login Form</title>
  <link rel='stylesheet' href='bootstrap.min3.3.5.css'><link rel="stylesheet" href="./style.css">

  <style type="text/css">
    @font-face {
      font-family: Poppins;
      src: url(Poppins.ttf);
    }

        body{
            font-family: Poppins;
        }

        .center{
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    .center1{
            margin: auto;
            width: 100%;
            padding: 10px;
        }

    </style>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">

    <h1 style="text-align: center;">404 Page not found</h1>

  
</body>
</html>
